{% extends 'base.html' %}
{% load static %}

{% block title %}Our Crew | Montra{% endblock %}

{% block content %}

    <section class="section banner-inner team-banner">
        <div class="banner-overlay"></div>
        <div class="hero-container">
            <div class="banner-inner-container">
                <h2>Our Crew</h2>
                <nav class="breadcrumb">
                    <a href="{% url 'home' %}" class="breadcrumb-item">Home</a>
                    <span class="separator">/</span>
                    <span class="breadcrumb-item current">Our Team</span>
                </nav>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="hero-container overflow-visible">
            <div class="row row-cols-lg-2 row-cols-1 grid-spacer-y-5 grid-spacer-x-3">
                <div class="col col-lg-4">
                    <div class="team-title-container">
                        <h2>Meet the Creative Minds Behind the Lens</h2>
                        <p>Our team is a collective of visionary directors, cinematographers, editors, and storytellers who turn concepts into cinematic experiences.</p>
                        <div>
                            <a href="#" class="btn btn-accent">View All Team</a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-8">
                    <div class="row row-cols-md-2 row-cols-1 grid-spacer-3">
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Daniel Reyes</h4>
                                        <p class="team-designation">Creative Director</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Maya Chen</h4>
                                        <p class="team-designation">Director of Photography</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Sasha Morgan</h4>
                                        <p class="team-designation">Scriptwriter</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Leo Fernandez</h4>
                                        <p class="team-designation">Lead Video Editor</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Jamal Brown</h4>
                                        <p class="team-designation">Sound Designer</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="team-container">
                                <div class="image-container team-image">
                                    <img src="{% static 'images/dummy-img-600x600.jpg' %}" alt="Team" class="img-fluid">
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gspace-2">
                                    <div class="d-flex flex-column">
                                        <h4>Tara Lin</h4>
                                        <p class="team-designation">Production Manager</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center gspace-1">
                                        <a href="https://www.instagram.com/" class="social-icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" class="social-icon">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="https://www.x.com/" class="social-icon">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-0">
        <div class="hero-container overflow-hidden">
            <div class="partners-container">
                <h5 class="partnership-title-content">
                    Trusted by Industry Leaders & Creative Brands
                </h5>
                <div class="overflow-hidden">
                    <div class="swiper swiperpartner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{% static 'images/Client-6.png' %}" alt="Partner" class="partner-image"></div>
                            <div class="swiper-slide"><img src="{% static 'images/Client-7.png' %}" alt="Partner" class="partner-image"></div>
                            <div class="swiper-slide"><img src="{% static 'images/Client-5.png' %}" alt="Partner" class="partner-image"></div>
                            <div class="swiper-slide"><img src="{% static 'images/Client-1.png' %}" alt="Partner" class="partner-image"></div>
                            <div class="swiper-slide"><img src="{% static 'images/Client-2.png' %}" alt="Partner" class="partner-image"></div>
                            <div class="swiper-slide"><img src="{% static 'images/Client-6.png' %}" alt="Partner" class="partner-image"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-accent-color-5">
        <div class="hero-container">
            <div class="d-flex flex-column gspace-3">
                <div class="row row-cols-lg-2 row-cols-1 grid-spacer-3">
                    <div class="col col-lg-8 order-2 order-lg-1">
                        <div class="row row-cols-md-2 row-cols-1 grid-spacer-3">
                            <div class="col">
                                <div class="card card-trust-us">
                                    <div class="card-number-wrapper">
                                        <div class="card-number">01</div>
                                    </div>
                                    <div class="trust-us-icon">
                                        <img src="{% static 'images/Icon-5-1.png' %}" alt="Trust Us Icon" class="img-fluid">
                                    </div>
                                    <div class="d-flex flex-column gspace-2">
                                        <h4>Cinematic Excellence</h4>
                                        <p>High-end production with film-grade visuals and compelling storytelling. lorem ipsum dolor sit amet.</p>
                                        <div class="trust-us-cta">
                                            <a href="{% url 'about' %}">Learn More</a>
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-trust-us">
                                    <div class="card-number-wrapper">
                                        <div class="card-number">02</div>
                                    </div>
                                    <div class="trust-us-icon">
                                        <img src="{% static 'images/Icon-6-1.png' %}" alt="Trust Us Icon" class="img-fluid">
                                    </div>
                                    <div class="d-flex flex-column gspace-2">
                                        <h4>Creative Teamwork</h4>
                                        <p>A passionate team of directors, editors & cinematographers lorem ipsum dolot sit amet consecteur.</p>
                                        <div class="trust-us-cta">
                                            <a href="{% url 'about' %}">Learn More</a>
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 order-1 order-lg-2">
                        <div class="d-flex flex-column gspace-2 text-start text-lg-center align-items-start align-items-lg-center">
                            <h2>Why Brands Trust Montra</h2>
                            <p class="mb-0">From concept to screen, we craft powerful visual experiences. Let your story shine with industry-grade film production.</p>
                            <div>
                                <a href="{% url 'contact' %}" class="btn btn-accent">Let's Create Together</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-lg-2 row-cols-1 grid-spacer-3">
                    <div class="col col-lg-4 order-2 order-lg-1">
                        <div class="d-flex flex-column gspace-2 justify-content-end overflow-hidden h-100">
                            <span class="trust-us-stat-container">
                                <span class="trust-us-stat counter" data-target="150">0</span>
                                <span class="trust-us-suffix">+</span>
                            </span>
                            <h3>Projects Completed</h3>
                            <p>Across film, ads, and branded content. Lorem ipsum dolor sit amet, consec.</p>
                            <div class="trustus-avatar-container">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="{% static 'images/dummy-img-400x400.jpg' %}" alt="Banner Avatar" class="banner-avatar">
                                    <img src="{% static 'images/dummy-img-400x400.jpg' %}" alt="Banner Avatar" class="banner-avatar">
                                    <img src="{% static 'images/dummy-img-400x400.jpg' %}" alt="Banner Avatar" class="banner-avatar">
                                    <img src="{% static 'images/Gp-1.png' %}" alt="Banner Avatar" class="banner-avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-8 order-1 order-lg-2">
                        <div class="row row-cols-md-2 row-cols-1 grid-spacer-3">
                            <div class="col">
                                <div class="card card-trust-us">
                                    <div class="card-number-wrapper">
                                        <div class="card-number">03</div>
                                    </div>
                                    <div class="trust-us-icon">
                                        <img src="{% static 'images/Icon-7-1.png' %}" alt="Trust Us Icon" class="img-fluid">
                                    </div>
                                    <div class="d-flex flex-column gspace-2">
                                        <h4>End to End Services</h4>
                                        <p>From scripting to post production all in one place lorem ipsum dolor sit amet consectetur adipiscing.</p>
                                        <div class="trust-us-cta">
                                            <a href="{% url 'about' %}">Learn More</a>
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-trust-us">
                                    <div class="card-number-wrapper">
                                        <div class="card-number">04</div>
                                    </div>
                                    <div class="trust-us-icon">
                                        <img src="{% static 'images/Icon-8.png' %}" alt="Trust Us Icon" class="img-fluid">
                                    </div>
                                    <div class="d-flex flex-column gspace-2">
                                        <h4>Client Focused Approach</h4>
                                        <p>We listen, adapt, and deliver results that exceed expectations lorem ipsum dolor sit amet consectetur.</p>
                                        <div class="trust-us-cta">
                                            <a href="{% url 'about' %}">Learn More</a>
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}