{% load static %}

<footer>
    <div class="section-footer">
        <div class="hero-container">
            <div class="footer-container">
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 grid-spacer-3">
                    <div class="col col-lg-3 col-md-6">
                        <div class="d-flex flex-column gspace-2">
                            <h3>Montra - Film & Video Production</h3>
                            <div class="d-flex flex-column gspace-1">
                                <h5>Our Office</h5>
                                <div class="footer-info-container">
                                    <span class="footer-info">123 Montra Studio Bulevard., Los Angeles, CA 90210</span>
                                </div>
                                <div class="footer-info-container">
                                    <h5>Contact Us</h5>
                                    <span class="footer-info">+1 (800) 234-5678</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-6">
                        <div class="d-flex flex-column gspace-3">
                            <h4>Navigation</h4>
                            <ul class="chevron-circle-list">
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./services.html">Services</a></li>
                                <li><a href="./project.html">Portfolio</a></li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-12">
                        <div class="footer-newsletter-container">
                            <h5 class="container-title">Subscribe to our newsletter for the latest updates</h5>
                            <div id="newsletter-success" class="alert success hidden">
                                <span class="check-icon"><i class="fa-solid fa-2xl fa-check"></i></span>
                                <p class="text-center">Thank you! Form submitted successfully.</p>
                            </div>
                        
                            <div id="newsletter-error" class="alert error hidden">
                                <span class="cross-icon"><i class="fa-solid fa-2xl fa-xmark"></i></span>
                                <p class="text-center">Oops! Form submission failed. Please try again.</p>
                            </div>
                            <form id="newsletter-form" action="./assets/php/submit-newsletter.php" class="form" method="post">
                                {% csrf_token %}
                                <input type="email" id="newsletter" name="newsletter" placeholder="Hello@Montrastudio.com">
                                <button type="submit" class="btn btn-accent-primary">Subscribe Now</button>
                            </form>
        
                            <div class="d-flex flex-row gspace-1 align-items-center w-100 justify-content-between flex-wrap">
                                <h5>Social Media</h5>
                                <div class="social-footer-container">
                                    <a href="https://www.instagram.com/" class="footer-icon">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a href="https://www.facebook.com/" class="footer-icon">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                    <a href="https://www.x.com/" class="footer-icon">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                    <a href="https://www.youtube.com/" class="footer-icon">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-title-container">
                    <span class="footer-title">Montra Studio</span>
                </div>
                <div class="footer-copyright-container">
                    <a href="#" class="legallink">Privacy Policy</a>
                    <span class="copyright">© 2025 Montra Studio. All rights reserved.</span>
                    <a href="#" class="legallink">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>