{% load static %}

<header>
    <div class="navbar-container">
        <div class="hero-container">
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-nav-container">
            
                <div class="logo-container">
                    <a class="navbar-brand fw-bold" href="{% url 'home' %}">
                        <img src="{% static 'images/Montra-Logo.png' %}" alt="Logo" class="img-fluid">
                    </a>
                </div>
            
                <div class="nav-link-container">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Services <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'services' %}">Service Overview</a></li>
                                    <li><a class="dropdown-item" href="{% url 'service-detail' %}">Service Detail</a></li>
                                    <li><a class="dropdown-item" href="#">Pricing</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Portfolio <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'project' %}">Showreel</a></li>
                                    <li><a class="dropdown-item" href="{% url 'project-detail' %}">Project Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pages <i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'team' %}">Crew</a></li>
                                    <li><a class="dropdown-item" href="{% url 'testimonial' %}">Testimonials</a></li>
                                    <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                                    <li><a class="dropdown-item" href="{% url 'single-post' %}">Single Post</a></li>
                                    <li><a class="dropdown-item" href="{% url 'forforpage' %}">404</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
        
                <button class="nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            
                <div class="navbar-cta-container">
                    <div>
                        <a href="{% url 'contact' %}" class="btn btn-accent">Get a Quote</a>
                    </div>
                </div>
            
                </div>
            </nav>
        </div>
    </div>
</header>

<aside>
    <div class="sidebar-overlay"></div>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="logo">
                <img src="{% static 'images/Montra-Logo.png' %}" class="logo" alt="Logo">
            </div>
            <button class="close-btn"><span>X</span></button>
        </div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li class="sidebar-dropdown">
                <div class="dropdown-header">
                    <a href="#">Services</a>
                    <button class="sidebar-dropdown-btn"><i class="fa-solid fa-angle-down"></i></button>
                </div>
                <ul class="sidebar-dropdown-menu">
                    <li><a href="{% url 'services' %}">Service Overview</a></li>
                    <li><a href="{% url 'service-detail' %}">Service Detail</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </li>         
            <li class="sidebar-dropdown">
                <div class="dropdown-header">
                    <a href="#">Portfolio</a>
                    <button class="sidebar-dropdown-btn"><i class="fa-solid fa-angle-down"></i></button>
                </div>
                <ul class="sidebar-dropdown-menu">
                    <li><a href="{% url 'project' %}">Showreel</a></li>
                    <li><a href="{% url 'project-detail' %}">Project Detail</a></li>
                </ul>
            </li>         
            <li class="sidebar-dropdown">
                <div class="dropdown-header">
                    <a href="#">Pages</a>
                    <button class="sidebar-dropdown-btn"><i class="fa-solid fa-angle-down"></i></button>
                </div>
                <ul class="sidebar-dropdown-menu">
                    <li><a href="{% url 'team' %}">Crew</a></li>
                    <li><a href="{% url 'testimonial' %}">Testimonials</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'single-post' %}">Single Post</a></li>
                    <li><a href="{% url 'forforpage' %}">404</a></li>
                </ul>
            </li>   
            <li class="below-dropdown"><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
    </div>
</aside>